meta(content='0', http-equiv='expires')
meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

link(rel='stylesheet', type='text/css', href='/webjars/bootstrap/3.3.6/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/webjars/font-awesome/4.5.0/css/font-awesome.min.css')

script(src='/webjars/jquery/2.2.0/jquery.min.js' type='text/javascript')

title Spring Integration
