.navbar.navbar-inverse(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-target='.navbar-collapse', data-toggle='collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Home
